.side-bar {
  @keyframes expand-width {
    from {
      flex-basis: $side-bar-width;
    }
    to {
      flex-basis: 230px;
    }
  }

  @keyframes collapse-width {
    from {
      flex-basis: 230px;
    }
    to {
      flex-basis: $side-bar-width;
    }
  }

  @keyframes expand-height {
    from {
      height: $tab-bar-height;
    }
    to {
      height: 100vh;
    }
  }

  @keyframes collapse-height {
    from {
      height: 100vh;
    }
    to {
      height: $tab-bar-height;
    }
  }

  flex-basis: $side-bar-width;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  box-sizing: content-box;
  background-color: $background-light-black;
  border: 1px solid $light-grey;
  border-top: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  overflow-x: hidden;

  &__expand-width {
    animation: expand-width 0.5s forwards;
  }

  &__collapse-width {
    animation: collapse-width 0.5s forwards;
  }

  &__expand-height {
    animation: expand-height 2s forwards;
  }

  &__collapse-height {
    animation: collapse-height 0.5s forwards;
  }

  .side-button-container {
    color: $unfocused-white;
    cursor: pointer;
    width: 100%;

    @media (min-width: $sm) {
      &:hover {
        color: white;
      }
    }

    .side-button {
      flex-basis: $side-bar-width;
      flex-grow: 0;
      flex-shrink: 0;
      height: $side-bar-width;

      svg {
        width: 38px;
        height: 38px;
      }

      &__focused {
        color: white;

        &__highlighted {
          border-left: 2px solid $highlight-orange;
        }
      }
    }

    .side-button-description {
      &__focused {
        color: white;
      }
    }

    .side-button-bottom {
      @keyframes move-up {
        from {
          top: calc(100vh - $tab-bar-height);
        }
        to {
          top: 0;
        }
      }

      @keyframes move-down {
        from {
          bottom: calc(100vh - $tab-bar-height);
        }
        to {
          bottom: 0;
        }
      }

      height: $tab-bar-height;
      width: $side-bar-width;
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: $background-light-black;
      z-index: 9999;
      border-bottom: 1px solid $light-grey;

      &__move-up {
        animation: move-up 0.5s forwards;
      }

      &__move-down {
        animation: move-down 0.5s forwards;
      }

      svg {
        width: 38px;
        height: 38px;
      }

      &__focused {
        color: white;
      }
    }
  }
}
