.tab-bar {
  height: $tab-bar-height;
  background-color: $background-black;
  display: flex;
  overflow-x: scroll;
  // width: calc(100% - $side-bar-width);
  // max-width: 100%;
  flex-basis: $side-bar-width;
  flex-grow: 0;
  flex-shrink: 0;

  .tab {
    border: 1px solid $light-grey;
    min-width: 140px;
    max-width: 180px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;

    &:hover {
      background-color: $background-light-black;
    }

    &__focused {
      border-top: 2px solid $highlight-orange;
      background-color: $background-light-black;
    }

    .img-container {
      position: relative;
      height: 20px;
      flex-basis: 20px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-left: 10px;
    }
  }
}
