html {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: $background-light-black;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
}

#__next {
  height: 100%;
}

.main-app {
  .content {
    height: calc(100vh - 68px);
    overflow: scroll;
  }
}
